*{
    padding: 0;margin: 0;
    overflow-x: hidden;
}
.head {
    display: grid;
    position: relative;
    grid-template-rows: repeat(20,5%);
    grid-template-columns: repeat(50,2%);
    height: 20%;
    width: 98.8vw;
    overflow-y: hidden;
}
#img1{
    max-height: 200px;
    height: auto;
    max-height: 200px;
    width: 70%;
    grid-column-start: 17;
    grid-column-end: 42;
    z-index: 2;
}
#img2{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;top: 0;left: 0;
    z-index: 1;
}
.nav{
    overflow: initial;
    font-weight: 550;
    display: flex;
    background: #f0f8ff;
    height: 40px;
    font-size: 22px;
    padding-bottom: 10px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}
a{
    text-decoration: none;
    color: black;
   
}
.ff{
    text-align: center;
    padding-top: 20px;
    width: 110px;
    padding: 10px 0;
    overflow-x:initial;
    overflow-y: initial;
}
a:hover{
    font-size: 36px;   
}
.image1{
    width: 100%;
}
.image1{
    width: 70%;
    margin: 0 15%;
}
.image1>img{
   width: 70%;
}
.image1>div{
    width: 85%;
    margin-top: 5%;
    margin-bottom: 10px;
}
.image1>div>h2{
    display: block;
    font-size: 40px;
}
.image1>div>p{
    margin: 1% 0;
    margin-top: 0.6%;
    display: block;
    font-size: 18px;
    color: #747474;
}
.detail{
    width: 60%;
    margin: 5% 15%;
}
.detail p{
    margin-bottom: 20px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}