body{
    margin: 0;padding: 0;
}

.head {
    display: grid;
    position: relative;
    grid-template-rows: repeat(20,5%);
    grid-template-columns: repeat(50,2%);
    height: 20vh;
    width: 98.4vw;
}
#img1{
    max-height: 200px;
    height: auto;
    max-height: 200px;
    width: 70%;
    grid-column-start: 17;
    grid-column-end: 42;
    z-index: 2;
}
#img2{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;top: 0;left: 0;
    z-index: 1;
}
.nav{
    font-weight: 550;
    display: flex;
    background: #f0f8ff;
    height: 40px;
    font-size: 22px;
    padding-bottom: 10px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    width: 98.5vw;
}
a{
    text-decoration: none;
    color: black;
   
}
.ff{
    text-align: center;
    padding-top: 20px;
    width: 110px;
    padding: 10px 0;
}
#a1:hover{
    font-size: 36px;   
}

main{
  height: 97vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
main div{
  height: 90%;
  width: 90%;
}
iframe{
  height: 80vh;
  width: 80vw;
  margin-left: 4vw;
}
main h1{
  text-align: center;
  font-size: 42px;
}

footer{
    display: flex;
    width: 98.55vw;
    background-color: rgb(49, 47, 47);
    height: 40vh;
    overflow: hidden;
  }
  
  footer .logo{
    width: 25vw;
    overflow: initial;
  }
  
  footer .logo img{
    height: 100%;
  }
  
  footer .about{
    width: 55vw;
    color: #fff;
  }
  .about h1{
    width: 80%;
    text-align: center;
    word-spacing: 8px;
    font-size: 45px;
    margin: 28px 0;
  }
  
  .about p{
    margin-right: 5%;
    text-align: justify;
  }
  
  .about p:hover{
    text-decoration: none;
  }
  
  footer .line{
  margin-top: 1%;
    width: 1px;
    height: 90%;
    background-color: #fff;
  }
  
  footer .contact{
    width: 20vw;
    flex-direction: column;
    color: #fff;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    margin: 2% ;
    overflow:hidden;
    min-height: 30vh;
    max-height: 35vh;
  }
  .contact a{
    background-color: rgb(49, 47, 47);
    color: #fff;
  }
  
  .contact>a:hover{
     color: red;
  }
  .contact>h1:hover{
    color: red;
  }